@{
    Layout = "";
    Html.AddCssFileParts("~/Plugins/Payments.PayU/Content/PayU.css");        
}

<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <b>@T("NopBrasil.Plugins.Payments.PayU.Fields.Redirection")</b>
        </td>        
        <td>
            <img class ="imagemPagamento" src="../Plugins/Payments.PayU/Content/Images/logoPagamento.png">
        </td>
    </tr>
</table>
    